<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"40px"},"padding":{"right":"20px","left":"20px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:40px;padding-right:20px;padding-left:20px">

    <!-- wp:group {"className":"retro-window","style":{"border":{"width":"3px","style":"solid","color":"#000000"},"color":{"background":"#FFFFFF"},"shadow":"5px 5px 0px 0px #000000","spacing":{"margin":{"bottom":"40px"}}}} -->
    <div class="wp-block-group retro-window" style="border-width:3px;border-style:solid;border-color:#000000;background-color:#FFFFFF;box-shadow:5px 5px 0px 0px #000000;margin-bottom:40px">

        <!-- wp:group {"className":"title-bar","style":{"border":{"bottom":{"color":"#000000","style":"solid","width":"3px"}},"color":{"background":"var:preset|color|accent-cyan"},"spacing":{"padding":{"top":"8px","right":"12px","bottom":"8px","left":"12px"}}},"layout":{"type":"flex","justifyContent":"space-between"}} -->
        <div class="wp-block-group title-bar" style="border-bottom-color:#000000;border-bottom-style:solid;border-bottom-width:3px;background-color:var(--wp--preset--color--accent-cyan);padding-top:8px;padding-right:12px;padding-bottom:8px;padding-left:12px">
            <!-- wp:heading {"level":1,"style":{"typography":{"fontFamily":"var:preset|font-family|heading","fontSize":"1.2rem","fontStyle":"normal","fontWeight":"700","textTransform":"uppercase"}}} -->
            <h1 class="wp-block-heading" style="font-family:var(--wp--preset--font-family--heading);font-size:1.2rem;font-style:normal;font-weight:700;text-transform:uppercase">404 - Not Found</h1>
            <!-- /wp:heading -->

            <!-- wp:template-part {"slug":"back-button"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:group {"className":"window-content","style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}}} -->
        <div class="wp-block-group window-content" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px">
            <!-- wp:paragraph -->
            <p>It seems we can't find what you're looking for. Perhaps searching can help.</p>
            <!-- /wp:paragraph -->
            <!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search","buttonUseIcon":true} /-->
        </div>
        <!-- /wp:group -->

    </div>
    <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
